<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.naccl.mapper.StockProportionMapper">

    <!--查询占比    -->
    <select id="getStockProportion" resultType="top.naccl.entity.StockProportion">
        select * from stock_proportion
    </select>
</mapper>
